<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>President, Student Gymkhana</h1>
            <span><address>Indian Institute of Technology, Hyderabad</address><time>2009 to 2010</time></span>
        </header>
        <p>
            Looked after Infrastructure, Finance for all events. Headed the executive committee and monitor their activities.
        </p>
    </article>
    <article>
        <header>
            <h1>Hospitality Coordinator</h1>
            <span><address>ELAN, Student Festival, IITH</address><time>2010</time></span>
        </header>
        <p>
            Incharge of accomodation, food and guidance of visiting guests
        </p>
    </article>
</section>
